
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-lg-12">
                    <h1>Technology is at Our Core</h1>

                 <hr class="colored">
                 <div class="brand-name-subtext" style="width: 60%; margin: 20px auto; "><p style="font-size:22px; test-align:cenrter;"><strong>Technology is central to our mission and we couldn't be an effective regulator without it.</strong></p><p  style="font-size:22px; test-align:cenrter;">We work with cutting-edge technologies and the open-source community to solve complex Big Data<br>problems and keep pace with constant change and innovation in the financial industry</p>
                </div>
               
             </div>
             <div class="scroll-down page-scroll ">
                <a class="btn blue pulse" href="#finraday"><i class="fa fa-angle-down"></i></a>
            </div>
            </div>
            <div class="row text-center content-row">
                <div class="col-md-3 col-sm-6">
                    <div class="about-content">
                        <i class="fa fa-eye fa-4x"></i>
                        <h3>Open source</h3>
                        <p>We work with the latest open-source software and frameworks like Hadoop, Hbase, Hive, EMR, Solr, Angular, and Bootstrap.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="about-content">
                        <i class="fa fa-clock-o fa-4x"></i>
                        <h3>Efficient</h3>
                        <p>We actively engage our member firms to increase data sharing, improve our applications to drive efficiency, and lower compliance costs</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="about-content">
                        <i class="fa fa-lock fa-4x"></i>
                        <h3>Secure</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget pretium magna, viverra consequat eros. </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="about-content">
                        <i class="fa fa-cloud fa-4x"></i>
                        <h3>In the Cloud</h3>
                        <p>We are moving our technology to the cloud to increase investor protection through faster processing, lower costs, and higher availability</p>
                    </div>
                </div>
            </div>
        </div>
