<div class="container">
            <div class="row text-center">
                <div class="col-lg-12">
                    <h2>Connect with us</h2>
                    <p>You can find us at these events.</p>
                </div>
            </div>
            <div class="row content-row">
                <div class="col-md-4">
                    <div class="media">
                        <div class="pull-left">
                            <i class="fa fa-clipboard"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Meetups</h3>
                            <ul>
                                <li>event title</li>
                                <li>event title</li>
                                <li>event title</li>
                             
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="media">
                        <div class="pull-left">
                            <i class="fa fa-pencil"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Hackathon</h3>
                            <ul>
                                <li>event title</li>
                                <li>event title</li>
                                <li>event title</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="media">
                        <div class="pull-left">
                            <i class="fa fa-rocket"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Conventions</h3>
                            <ul>
                                <li>event title</li>
                                <li>event title</li>
                                <li>event title</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>