<div class="container">
    <style type="text/css">

        .media h4{

            text-transform: capitalize;;
            font-weight:900;
        }
        .media p{font-size: 14px;line-height: 22px}
        .media .date{padding-top: 0px}
    </style>
            <div class="row text-center">
                <div class="col-lg-12">
                    <h2>Connect with us</h2>
                    <p>You can find us at these events.</p>
                </div>
            </div>
            <div class="row content-row">
                <div class="col-md-4">
                    <div class="media">
                        <div class="pull-left">
                            <i class="fa fa-clipboard"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Meetups</h3>
                            <h4>Developing Secure Angular Applications</h4> 
                            <p class="date"><em>October 10, 2014</em></p>
                            <p>Laravel and AngularJS make a great combination. Angular eats JSON for breakfast and Laravel will generate it from your data store with literally...</p>
                                
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="media">
                        <div class="pull-left">
                            <i class="fa fa-pencil"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Hackathons</h3>
                             <h4>AngularJS Hackathon</h4> 
                            <p class="date"><em>October 22, 2014</em></p>
                            <p>Other frameworks deal with HTML’s shortcomings by either abstracting away HTML, CSS, and/or JavaScript or by providing an imperative way for...</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="media">
                        <div class="pull-left">
                            <i class="fa fa-rocket"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Conferences</h3>
                        
                            <h4>Steve Randich to speak during AWS re:Invent Keynote</h4>
                            <p class="date"><em>November 11, 2014</em></p>
                            <p>Join the largest gathering of the global Amazon Web Services community at AWS re:Invent 2014. Whether you...</p>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>