<!-- Instructions: Set your background image using the URL below. -->
    <header class="video">
        <div class="overlay"></div>
        <div class="intro-content">
           
            <div class="brand-name">WE ARE<br>BIG DATA</div>
            <hr class="colored">
            <div class="brand-name-subtext"><p style="width: 100%; margin: 20px auto; font-size:22px"> We process 30 billion market events from multiple exchanges and thousands of firms every day – on par with the transaction volumes of Facebook, Twitter, and Visa.

            </p></div>
        </div>
        
            <div class="scroll-down page-scroll ">
                <a class="btn blue pulse" href="#about"><i class="fa fa-angle-down"></i></a>
            </div>
    </header>