<!-- Instructions: Set your background image using the URL below. -->
<header class="video">
    <div class="overlay"></div>
    <div class="intro-content">
     <div class="">
        <h1 class="text-center">We are big data</h1>
        <hr class="colored">
         <p style="width: 100%; margin: 20px auto; font-size:22px; text-align:center">
                 <strong>Today we monitor all the US Equities markets,<br>processing about 30 billion events daily.</strong>
                 </p>
                 <p style="width: 100%; margin: 20px auto; font-size:22px"><span>Our systems touch virtually every aspect of the securities business<br>– from detecting fraud, insider trading, and market manipulation.</span></p>
        
     </div>
     

     <div class="scroll-down page-scroll ">
        <a class="btn blue pulse" href="#about"><i class="fa fa-angle-down"></i></a>
    </div>
</div>
<style></style>
<script type="text/javascript">
    function ShowItems(items, delay) {
    var remainingItems = items.length;
    $(items[0]).fadeIn(500)
        .delay(delay)
        .fadeOut(500)
        .promise()
        .done(function() {
            items.splice(0, 1);
            if (items.length > 0)
            {
                ShowItems(items, delay);    
            }            
    });       
}

var items = $(".fade_intro").hide();

ShowItems(items, 5000);

</script>

</header>








