<div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <span class="quote" style="font-size:300%; line-height:120%">We are able to spool up nodes like <br>a <span class="text-primary">thermostat</span> on a wall.</span>
                    <hr class=" colored">
                    <a href="/technology/article" class="btn btn-outline-light" style="color:white">Find out how</a>
                </div>
            </div>
        </div>