        <div class="container text-center">

            <h2 style="font-size:36px; padding: 10px 0px 10px; font-weight:300; padding-top:0px">Our People</h2>
            <hr class="colored">
            <p style="padding-bottom:22px; font-size:22px">FINRA attracts smart people who want<br>challenging work that makes a difference</p>
           
        </div>
        <div class="item" style="background-image: url('images/Students-using-computers.jpg'); height:800px">
            <button type="button" class="close talent_close"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 col-md-push-8">
                        <div class="project-details">
                            <span class="project-name">WE ARE Big Thinkers</span>
                
           
                            
                        </div>
                    </div>
                    <div class="col-md-8 col-md-pull-4 hidden-xs">
                       
                    </div>
                </div>
            </div>
        </div>
       
        <div class="item" style="background-image: url('images/tcdisrupt_tc-9.jpg'); height:800px">
            <button type="button" class="close talent_close" ><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 col-md-push-8">
                        <div class="project-details">
                            
                            <span class="project-name">WE ARE Community-Centric</span>
            
                      
                        </div>
                    </div>
                    <div class="col-md-8 col-md-pull-4 hidden-xs">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="item" style="background-image: url('images/student-writing-math-whiteboard-14322464.jpg'); height:800px">
            <button type="button" class="close talent_close"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 col-md-push-8">
                        <div class="project-details">
                            
                            <span class="project-name">WE ARE Problem Solvers</span>
                           
                      
                            
                        </div>
                    </div>
                    <div class="col-md-8 col-md-pull-4 hidden-xs">
                        
                    </div>
                </div>
            </div>
        </div>
